#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2560' height='1440' preserveAspectRatio='none' viewBox='0 0 2560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1192%26quot%3b)' fill='none'%3e%3crect width='2560' height='1440' x='0' y='0' fill='rgba(255%2c 242%2c 225%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1236.867C232.683%2c1263.776%2c475.583%2c1168.242%2c651.1%2c1013.132C817.09%2c866.441%2c827.151%2c621.236%2c922.748%2c421.405C1020.614%2c216.832%2c1266.931%2c46.436%2c1219.665%2c-175.361C1171.828%2c-399.836%2c870.594%2c-452.319%2c703.111%2c-609.249C558.375%2c-744.865%2c492.117%2c-972.287%2c303.539%2c-1033.759C114.125%2c-1095.504%2c-83.512%2c-990.979%2c-272.249%2c-927.194C-453.738%2c-865.858%2c-635.343%2c-803.023%2c-773.103%2c-669.898C-918.965%2c-528.944%2c-1035.188%2c-353.592%2c-1072.201%2c-154.159C-1110.003%2c49.524%2c-1072.84%2c262.335%2c-980.537%2c447.796C-889.993%2c629.724%2c-719.331%2c745.552%2c-561.014%2c872.955C-383.768%2c1015.59%2c-226.004%2c1210.731%2c0%2c1236.867' fill='%23ffe6c4'%3e%3c/path%3e%3cpath d='M2560 2695.585C2789.794 2639.898 2880.719 2367.814 3050.537 2203.291 3180.449 2077.43 3327.134 1982.955 3440.8 1842.248 3588.5190000000002 1659.387 3820.24 1494.848 3812.63 1259.899 3805.072 1026.566 3561.844 880.682 3404.081 708.6 3250.94 541.559 3126.071 313.47800000000007 2903.921 268.712 2683.603 224.31500000000005 2484.987 392.7249999999999 2278.651 481.812 2098.557 559.569 1897.5990000000002 606.519 1772.181 757.351 1647.825 906.905 1640.92 1112.061 1597.0320000000002 1301.546 1548.7640000000001 1509.942 1451.02 1715.385 1502.177 1923.091 1557.652 2148.326 1701.155 2348.093 1888.487 2484.895 2081.86 2626.109 2327.29 2751.9790000000003 2560 2695.585' fill='%23fffffe'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1192'%3e%3crect width='2560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); 
}

/* body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2560' height='1440' preserveAspectRatio='none' viewBox='0 0 2560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1192%26quot%3b)' fill='none'%3e%3crect width='2560' height='1440' x='0' y='0' fill='rgba(255%2c 242%2c 225%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1236.867C232.683%2c1263.776%2c475.583%2c1168.242%2c651.1%2c1013.132C817.09%2c866.441%2c827.151%2c621.236%2c922.748%2c421.405C1020.614%2c216.832%2c1266.931%2c46.436%2c1219.665%2c-175.361C1171.828%2c-399.836%2c870.594%2c-452.319%2c703.111%2c-609.249C558.375%2c-744.865%2c492.117%2c-972.287%2c303.539%2c-1033.759C114.125%2c-1095.504%2c-83.512%2c-990.979%2c-272.249%2c-927.194C-453.738%2c-865.858%2c-635.343%2c-803.023%2c-773.103%2c-669.898C-918.965%2c-528.944%2c-1035.188%2c-353.592%2c-1072.201%2c-154.159C-1110.003%2c49.524%2c-1072.84%2c262.335%2c-980.537%2c447.796C-889.993%2c629.724%2c-719.331%2c745.552%2c-561.014%2c872.955C-383.768%2c1015.59%2c-226.004%2c1210.731%2c0%2c1236.867' fill='%23ffe6c4'%3e%3c/path%3e%3cpath d='M2560 2695.585C2789.794 2639.898 2880.719 2367.814 3050.537 2203.291 3180.449 2077.43 3327.134 1982.955 3440.8 1842.248 3588.5190000000002 1659.387 3820.24 1494.848 3812.63 1259.899 3805.072 1026.566 3561.844 880.682 3404.081 708.6 3250.94 541.559 3126.071 313.47800000000007 2903.921 268.712 2683.603 224.31500000000005 2484.987 392.7249999999999 2278.651 481.812 2098.557 559.569 1897.5990000000002 606.519 1772.181 757.351 1647.825 906.905 1640.92 1112.061 1597.0320000000002 1301.546 1548.7640000000001 1509.942 1451.02 1715.385 1502.177 1923.091 1557.652 2148.326 1701.155 2348.093 1888.487 2484.895 2081.86 2626.109 2327.29 2751.9790000000003 2560 2695.585' fill='%23fffffe'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1192'%3e%3crect width='2560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
