/* Contenido del formulario */
.form-content {
    width: 100%;
    text-align:center;
}

/* Título del formulario */
.form-content h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.title-eliminar{
    margin-left: 120px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 30px;
}

.title-disfraces{
    margin-left: 140px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 30px;
}

.tittle-resultadoev{
    margin-left: 140px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 30px;
    margin-top: 35px;
    margin-left: 200px;
}

.tittle-buscarev{
    margin-left: 140px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 130px;
}

.tittle-editarev{
    margin-left: 140px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 130px;
}

.tittle-crearev{
    margin-left: 140px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 130px;
}

.tittle-eliminarev{
    margin-left: 140px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 130px;
}

.titlelistDis{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 95px;
}

/* Grupo de formulario */
.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-group1 {
    margin-bottom: 10px;
    text-align: center;
}
.form-container1{
    align-items: center;
}

.admin-item{
    margin-left: -47px;
}

.form-content1{
    margin-left: -38px;
    margin-bottom: 30px;
}

.form-content2{
    margin-left: 40px;
    margin-bottom: 40px;
}

.titlebusc{
    font-weight: bold;
    font-size: 15px;
}

.listadmin{
    margin-left: 90px;
    align-items: center;
    font: size 15px;;
}
/* Etiquetas de los inputs */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/*Botones*/
.edit-button{
    background-color: rgba(0, 255, 115, 0.425);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.delete-button{
    background-color: rgba(255, 0, 0, 0.377);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.edit-button1{
    background-color: rgba(0, 255, 115, 0.425);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.delete-button1{
    background-color: rgba(255, 0, 0, 0.377);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.edit-button2{
    background-color: rgba(0, 255, 115, 0.425);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.delete-button2{
    background-color: rgba(255, 0, 0, 0.377);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.edit-button3{
    background-color: rgba(0, 255, 115, 0.425);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

.delete-button3{
    background-color: rgba(255, 0, 0, 0.377);
    border-radius: 25px;
    margin: 15px;
    font-size: 17px;
    font-weight: bold;
}

/* Inputs del formulario */
.form-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-top: 15px;
}

.form-input1{
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.form-input2{
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.form-input3{
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
}
/* Botón del formulario */
.form-button {
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    border: 0.3px solid #010101;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
    box-sizing: border-box;
}

.form-buttonev,.cancel-button{
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    border: 0.3px solid #010101;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
    box-sizing: border-box;
}


.form-button_eliminar{
    background-color: #81142d;
    color: white;
    padding: 10px 20px;
    border: 0.3px solid #010101;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 170px;
    width: 30%;
    box-sizing: border-box;
}

.form-button_eliminar1{
    background-color: #81142d;
    color: white;
    padding: 10px 15px;
    border: 0.3px solid #010101;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 170px;
    width: 30%;
    box-sizing: border-box;
}

.form-button:hover {
    background-color: #5e7ba2;
}

/* formato li*/
.custom-list {
    list-style-type: none; 
    padding: 0;
}

.custom-list li {
    position: relative;
    padding-left: 1.8em; 
    margin-bottom: 10px; 
}

.custom-list li::before {
    content: "🎈"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em; 
}

.admin-item{
    list-style-type: none; 
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
    position: relative;
    padding-left: 1.8em; 
    margin-bottom: 10px;
    
}

.admin-item::before {
    content: "👔"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em; 
}

.event-item{
    list-style-type: none; 
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
    position: relative;
    padding-left: 1.8em; 
    margin-bottom: 20px;
}

.event-item::before {
    margin-top: 25px;
    content: ""; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em; 
}

.disfraz-item{
    list-style-type: none; 
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
    position: relative;
    padding-left: 1.8em; 
    margin-bottom: 20px;
}

.disfraz-item::before {
    margin-top: 25px;
    content: ""; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em; 
}

.etiqueta-item{
    list-style-type: none; 
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
    position: relative;
    padding-left: 1.8em; 
    margin-bottom: 20px;
}

.etiqueta-item::before {
    margin-top: 5px;
    content: "🥼"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em; 
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .form-content {
        padding: 8px;
    }
    .listadmin{
        margin-left: 15px;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }

    .titlelistDis{
        margin-left: 130px;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
        margin-left: 3px;
    }
    .event-item{
        list-style-type: none; 
        margin-top: 20px;
        margin-left: -25px;
        padding: 0;
        position: relative;
        padding-left: 1.8em; 
        margin-bottom: 20px;
    }
    
    .event-item::before {
        margin-top: 3px;
        content: "🎭"; 
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.2em; 
    }

    .disfraz-item{
        list-style-type: none; 
        margin-top: 20px;
        margin-left: -25px;
        padding: 0;
        position: relative;
        padding-left: 1.8em; 
        margin-bottom: 20px;
    }
    
    .disfraz-item::before {
        margin-top: 25px;
        content: ""; 
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.2em; 
    }

    .etiqueta-item{
        list-style-type: none; 
        margin-top: 20px;
        margin-left: -60px;
        padding: 0;
        position: relative;
        padding-left: 1.8em; 
        margin-bottom: 20px;
    }
    
    .etiqueta-item::before {
        margin-top: 5px;
        content: ""; 
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.2em; 
    }
    .form-button {
        padding: 10px;
    }

    .title-eliminar{
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .form-button_eliminar{
        background-color: #81142d;
        color: white;
        padding: 10px 20px;
        border: 0.3px solid #010101;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 10px;
        width: 50%;
        box-sizing: border-box;
    }

    .admin-item{
        margin-left: -17px;
    }

    .form-content1{
        margin-left: -50px;
        margin-bottom: 30px;
    }

    .edit-button{
        margin: -40px;
    }

    .delete-button{
        margin-left: 60px;
    }

    .edit-button1{
        margin: 20px;
        margin-left: -55px;
    }
    
    .delete-button1{
        margin-left: -10px;
    }

    .edit-button2{
        margin: 20px;
        margin-left: -35px;
    }
    
    .delete-button2{
        margin-left: -10px;
    }

    .form-button_eliminar1{
        background-color: #81142d;
        color: white;
        padding: 10px 15px;
        border: 0.3px solid #010101;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 20px;
        width: 60%;
        box-sizing: border-box;
    }
    .form-content2{
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .form-input3{
        width: 105%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 15px;
    }
    
    .title-disfraces{
        margin-left: 50px;
        font-weight: bold;
        font-size: 23px;
        margin-bottom: 30px;
    }

    .tittle-resultadoev{
        margin-left: 140px;
        font-weight: bold;
        font-size: 23px;
        margin-bottom: 30px;
        margin-top: 35px;
        margin-left: 50px;
    }
    
    .tittle-buscarev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: 32px;
    }

    .tittle-editarev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 38px;
    }
    
    .tittle-crearev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .tittle-eliminarev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .form-content {
        padding: 8px;
    }

    .form-button {
        padding: 10px;
    }

    .title-eliminar{
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .form-button_eliminar{
        background-color: #81142d;
        color: white;
        padding: 10px 20px;
        border: 0.3px solid #010101;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 10px;
        width: 50%;
        box-sizing: border-box;
    }
    .form-content1{
        margin-left: -50px;
        margin-bottom: 30px;
    }

    .title-disfraces{
        margin-left: 50px;
        font-weight: bold;
        font-size: 23px;
        margin-bottom: 30px;
    }

    .tittle-resultadoev{
        margin-left: 140px;
        font-weight: bold;
        font-size: 23px;
        margin-bottom: 30px;
        margin-top: 35px;
        margin-left: 50px;
    }
    
    .tittle-buscarev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: 32px;
    }

    .tittle-editarev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 38px;
    }
    
    .tittle-crearev{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
}